<launch>

  
    <param name="robot_description" textfile="$(find new_ares)/urdf/new_arm.urdf" />
  
   
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="worlds/empty.world"/>
      <arg name="paused" value="false"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="gui" value="true"/>
      <arg name="headless" value="false"/>
      <arg name="debug" value="false"/>
    </include>
  
  
    
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -model rover_arm -param robot_description"
          output="screen" />
    
    <rosparam file ="$(find new_ares)/config/controller.yaml" command="load"/>
      <node name= "controller_spawner" pkg= "controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller joint1_position_controller joint2_position_controller joint3_position_controller joint4_position_controller joint5_position_controller"/>
  
      
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>     
  
  </launch>
 